<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="">
            <a href="{% url 'home' %}" class="nav-link font-weight-bold mr-5">Home</a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Albums
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="albums-link">
                <a href="{% url 'albums' %}" class="dropdown-item">All Albums</a>
                <a href="{% url 'albums' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'albums' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'albums' %}?sort=genre&direction=asc" class="dropdown-item">By Genre</a>
                <a href="{% url 'albums' %}?sort=artist&direction=asc" class="dropdown-item">By Artist</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Artists
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="artists-link">
                <a href="{% url 'artists' %}" class="dropdown-item">All Artists</a>
                <a href="{% url 'artists' %}?sort=featured&direction=asc" class="dropdown-item">Featured Artists</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'albums' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'albums' %}?category=arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'albums' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'albums' %}?category=specials" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>